<!DOCTYPE html>
<html>
  <head lang="en">
    <title>My App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="container">
      <h1>A Form</h2>
      <div class="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
